.register-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;

  label {
    margin-top: 10px;
  }

  input {
    padding: 10px;
    margin-top: 5px;
  }

  button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .error {
    color: red;
    margin-top: 10px;
  }
}
