<div class="home-container">
  <!-- Exibir o nome do usuário e a melhor categoria -->
  <div class="header">
    <h2>BEM VINDO, {{ userName }}!</h2>
    <p>Melhor Categoria: {{ userBest }}</p>
  </div>

  <!-- Listar as categorias -->
  <div class="categories">
    <h3>Categorias Disponíveis:</h3>
    <div *ngFor="let category of categories" class="category">
      <input
        type="checkbox"
        [id]="category.name"
        (change)="toggleCategorySelection(category.name)">
      <label [for]="category.name">{{ category.name }} - Acertos: {{ category.accuracy }}%</label>
    </div>
  </div>

  <!-- Botão para iniciar o quiz -->
  <div class="actions">
    <button (click)="startQuiz()">Jogar</button>
  </div>
</div>
