.home-container {
  .header {
    background-color: bisque;
  }
  .categories {
    .category {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
