<div class="home-container">
  <!-- Exibir o nome do usuário e a melhor categoria -->
  <div class="header">
    <h2>BEM VINDO, {{ userName }}!</h2>
    <p>Melhor Categoria: {{ userBest }}</p>
  </div>

  <!-- Listar as categorias -->
  <div class="categories">
    <h2>Selecione as categorias:</h2>
    <div *ngFor="let category of categories">
      <!-- Alterado 'name' para 'category' -->
      <input type="checkbox" [id]="category.id" (change)="toggleCategorySelection(category.id)">
      <label [for]="category.id">{{ category.category }}</label>
    </div>
  </div>

  <div>
    <button (click)="startQuiz()">Iniciar Quiz</button>
  </div>

</div>
